
.heading {
    color: white;
    font-weight: bold;
    font-size: 4.5vw;
    text-align: center;
    transform: translateY(-9.5vw);
    text-shadow: 2px 2px #264653;
  }
  

  @media screen and (min-width: 760px) {
    .heading {
      color: white;
      font-weight: bold;
      font-size: 5vw;
      text-align: center;
      transform: translateY(-12.5vw);
      text-shadow: 2px 2px #264653;
    }
  }