.button {
  text-align: center;
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: 600;
  color: var(--tc1);
  border: 2px var(--tc1) solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.15rem 1.1rem 0.15rem 1.1rem;
  margin: 0 1rem 0 1rem;
  transition: all 0.15s;
}

.button:hover {
  background-color: var(--tc1);
  color: #e5e5e5;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 1rem;
    padding: 0.1rem 1.15rem 0.1rem 1.15rem;
  }
}
