.container {
    margin: 0.5rem auto 3rem auto;
    max-width: 1024px;
    padding: 3rem 4rem 3rem 4rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    text-align: left;
    font-size: 0.9rem;
  }
  
  .header {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .strong {
      font-weight: 600;
  }