.form {
  margin: 0.5rem auto 3rem auto;
  max-width: 1024px;
  padding: 3rem 4rem 3rem 4rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  text-align: left;
  font-size: 1rem;
}

.formField {
  padding-bottom: 1rem;
}

.formField label {
  font-weight: 600;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .form {
    margin: 0.5rem auto 3rem auto;
    padding: 3rem 0 3rem 0;
    border-radius: 15px;
    text-align: left;
    font-size: 1rem;
  }
}