.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 0.75px solid rgba(255, 255, 255, 0.5);
  max-width: 15rem;
  padding: 2rem;
}


.text {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}
