.title {
  text-align: center;
  font-size: 10rem;
  color: #264653;
}

.title span {
  background: linear-gradient(90deg, #2a9c8f 0%, #0c685d 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.65rem;
  background-position: 0 90%;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2.25rem;
  }

  .title span {
    background: linear-gradient(90deg, #2a9c8f 0%, #0c685d 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.5rem;
    background-position: 0 90%;
  }
}
