.sideNav {
  background-color: grey;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  z-index: 50;
  height: 100%;
}

.sideNav a {
  text-decoration: none;
  color: black;
}

.sideNav a:hover {
  color: white;
}
