.searchContainer {
  width: 80%;
  background-color: #e5e5e5;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 0 1rem 0;
  border-radius: 10px;
  margin-bottom: 4rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.heading {
  margin-bottom: 0.5rem;
}

.heading h2 {
  font-size: 1.15rem;
}

.input {
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.input input {
  border-radius: 50%;
  box-shadow: 8px 8px 18px #c3c3c3, -8px -8px 18px #ffffff;
  border: none;
  outline: none;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 8px;
  transition: box-shadow 0.5s;
}

.input input::placeholder {
  font-size: 0.75rem;
  color: #c4c4c4;
}

.input input:focus {
  box-shadow: 8px 8px 18px #094666, -8px -8px 18px #ffffff;
  border: none;
}

.input button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.input button::before {
  content: '';
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  border: 3px var(--tc1) solid;
  display: inline-block;
  position: relative;
  transform: translateY(2px);
}

.input button::after {
  content: '';
  width: 1px;
  height: 12px;
  border: 1.5px var(--tc1) solid;
  background-color: var(--tc1);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(18px) translateX(3px) rotate(45deg);
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: bottom;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left: 10%;
  margin-left: -90px;
  margin-top: 30px;
  opacity: 0;
  transition: opacity 0.3s;
  content: 'right';
  height: 100px;
  transform: translateX(calc(100% + 10px));
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: '';
  top: 100%;
  left: 50%;
  margin-right: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
  margin-right: 1px;
}

.form {
  color: var(--tc1);
  margin: 1rem;
  font-size: 0.75rem;
}

.form select {
  background-color: var(--tc1);
  color: #e5e5e5;
  border-radius: 0.5rem;
  margin: 0 0.2rem 0.2rem 0.2rem;
}

.form label {
  font-weight: 600;
}

.search {
  text-align: center;
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: 600;
  color: var(--tc1);
  border: 2px var(--tc1) solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.15rem 1.1rem 0.15rem 1.1rem;
  margin: 0 1rem 0 1rem;
  transition: all 0.15s;
  margin: 1.5rem 0 0 0;
}

.search:hover {
  background-color: var(--tc1);
  color: #e5e5e5;
}


@media screen and (min-width: 768px) {
  .search {
    font-size: 1rem;
    padding: 0.1rem 1.15rem 0.1rem 1.15rem;
  }
  .searchContainer {
    max-width: 640px;
    margin-bottom: 0.25rem;
    transform: translateY(-45px);
  }

  .heading h2 {
    font-size: 1.5rem;
  }

  .input input {
    width: 20rem;
    padding: 0.5rem 1.15rem 0.5rem 1.15rem;
  }

  .input input::placeholder {
    font-size: 0.85rem;
  }

  .input button::after {
    transform: translateY(23px) translateX(4px) rotate(45deg);
  }

  .form {
    font-size: 1.1rem;
  }
}

