.container {
    margin: auto;
    color: #264653;
    text-align: center;
    font-size: 1.2em;
    padding: 0em 1em 1em 1em;
    width: 70%;
}

.list {
    list-style-type: none;
    padding: 0 0 3em 0;
    text-align: center;
} 

.highlight {
    font-weight: bolder;
    color: #2A9D8F;
}

