.container {
  text-align: center;
}

.container a {
  color: var(--tc2);
}

.container,
.subheading {
  margin: auto;
  font-size: 1.2em;
  color: var(--tc1);
  padding: 0em 1em 1em 1em;
}

.subheading {
  text-align: center;
  padding-bottom: 1rem;
}

.profilecards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
  max-width: 900px;
  margin: auto;
  padding-top: 2rem;
}

.highlight {
  font-weight: bolder;
  color: var(--tc2);
  font-size: 1.2rem;
}

.highlightheading {
  font-weight: bolder;
  color: var(--tc2);
  font-size: 1.6rem;
  text-decoration: overline solid var(--tc1);
}

.body {
  margin: 0.5rem auto 3rem auto;
  max-width: 1024px;
  padding: 2rem 4rem 3rem 4rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.error {
  color: red;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .body {
    font-size: 0.8rem;
    padding: 1rem 1rem 1rem 2rem;
  }

  .container {
    text-align: left;
  }

  .profilecards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 300px;
  }
}
