.body {
  margin: 2rem auto 3rem auto;
  width: 90%;
  max-width: 1024px;
  padding: 2rem 4rem 3rem 4rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  padding: 1rem 0 1rem 0;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-top: solid var(--tc1) 2px;
  border-bottom: solid var(--tc1) 2px;
  text-transform: capitalize;
}

.tags {
  width: 55%;
}

.emojis {
  text-align: left;
  font-size: 2rem;
}

.weather h2 {
  font-size: 1.15rem;
}

.description {
  margin: 1.5rem 0 1.5rem 0;
  line-height: 1.75rem;
}

.attractions a {
  color: var(--tc2);
}

.attractions a:hover {
  color: var(--tc1);
  font-weight: 600;
}

.country {
  color: var(--tc1);
}

.country a {
  color: var(--tc1);
}

.effect {
  background-image: linear-gradient(
    to right,
    var(--tc2),
    var(--tc2) 50%,
    var(--tc1) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s ease-in-out;
}

.effect:hover {
  background-position: 0;
}

@media screen and (max-width: 768px) {
  .body {
    max-width: 90%;
    margin-top: 0.5rem;
    padding: 1rem 2rem 1rem 2rem
  }
  .stats {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    font-size: 0.85rem;
  }

  .tags {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .emojis {
    text-align: center;
    font-size: 1.5rem;
  }

  .weather h2 {
    font-size: 0.95rem;
  }
}
